.side-nav {
  height: 100%;
}

.mui-scroll::-webkit-scrollbar {
  width: 8px;
}

.mui-scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
  background-clip: content-box;
  border-top: 5px solid rgba(255,255,255,0);
  border-bottom: 5px solid rgba(255,255,255,0);
  border-right: 4px solid rgba(255,255,255,0);
}

.side-nav:hover .mui-scroll::-webkit-scrollbar-thumb {
  background-color: #e3e8ee;
}
