.ivu-menu-vertical, .ivu-menu-horizontal {
  .ivu-menu-item, .ivu-menu-submenu-title, .ivu-menu-submenu {
    transition: background .1s ease;
  }
  .ivu-menu-item:hover, .ivu-menu-submenu-title:hover, .ivu-menu-submenu:hover {
    transition-duration: 0s;
  }
}

.ivu-menu-horizontal .ivu-menu-submenu .ivu-select-dropdown {
  .ivu-menu-item {
    transition: background .1s ease;
  }
  .ivu-menu-item:hover {
    transition-duration: 0s;
  }
}

.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu) {
  border-right: 2px solid transparent;
  z-index: 0;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-left: 2px solid #39f;
  }
}

.mui-scroll.ivu-menu-vertical.ivu-menu-light::after {
  display: none;
}

.main-nav {
  &.ivu-menu-dark.ivu-menu-horizontal {
    .ivu-menu-item {
      transition: color .2s ease;
    }
    .ivu-menu-item:hover {
      background: none;
      transition-duration: .1s;
    }
    .ivu-menu-item-active {
      background: none;
    }
    .ivu-menu-item-active::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 104px;
      height: 38px;
      background: #383F51;
      border-radius: 5px;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }
  .ivu-dropdown-item {
    transition: background .1s ease;
  }
  .ivu-dropdown-item:hover {
    transition-duration: 0s;
  }
  .ivu-dropdown {
    margin-right: 24px;
  }
  .ivu-dropdown-rel {
    cursor: pointer;
    a {
      color: #fff;
    }
    &:hover a {
      opacity: .8;
    }
  }
}

.i-marg {
  margin-right: 6px;
}

.ivu-loading-bar-inner {
  position: relative;
  transition: width 0.4s ease;
}

.ivu-loading-bar-inner:not(.ivu-loading-bar-inner-failed-color-error)::after {
  content: '';
  position: absolute;
  right: 0;
  width: 90px;
  height: 100%;
  box-shadow: 0 0 10px #5cadff, 0 0 5px #5cadff, 0 0 10px #5cadff, 0 0 5px #5cadff;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.ivu-loading-bar-inner-color-primary {
  box-shadow: 0 0 10px rgba(92,173,255,0.7);
}
